<div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 offset-md-3 offset-sm-3">
        <div class="card">
            <h2 class="card-header" >Sign In</h2>
            <form class="card-body">
              <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Enter Email">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <button routerLink="/admin-dashboard" class="btn btn-success btn-block" >Login</button>
            </form>
        </div>
      </div>
    </div>
  </div>